a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display:block;
}

body{
	line-height:1;
}

ol,ul{
	list-style:none;
}

blockquote,q{
	quotes:none;
}

blockquote:after,blockquote:before,q:after,q:before{
	content:'';
	content:none;
}

table{
	border-collapse:collapse;
	border-spacing:0;
}

:root{
	--padding:3em;
}

@media only screen and (max-width:1130px){
:root{
	--padding:2.5em;
	}
}

@media only screen and (max-width:700px){
:root{
	--padding:2em;
	}
}

*{
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

:after,:before{
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

html{
	min-height:100%;
	height:100%;
	-webkit-text-size-adjust:none;
}

body{
	min-height:100%;
	width:100%;
	max-width:100%;
	position:relative;
	overflow-x:hidden;
}

article,div,footer,header,main,nav,section{
	display:block;
	position:relative;
}

footer,main,nav{
	font-size:1rem;
}

@media only screen and (min-width:1600px){
footer,main,nav{
	font-size:1.15rem;
	}
}

@media only screen and (min-width:1900px){
footer,main,nav{
	font-size:1.25rem;
	}
}

@media only screen and (max-width:1130px){
footer,main,nav{
	font-size:.9rem;
	}
}

@media only screen and (max-width:1005px){
footer,main,nav{
	font-size:.8rem;
	}
}

@media only screen and (max-width:700px){
footer,main,nav{
	font-size:.75rem;
	}
}

.variables{
	display:none;
}

.flex{
	display:-webkit-box;
	display:-moz-box;
	display:box;
	display:-moz-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:horizontal;
	box-orient:horizontal;
	-webkit-box-direction:normal;
	box-direction:normal;
	-moz-flex-direction:row;
	flex-direction:row;
	-ms-flex-direction:row;
	-webkit-box-lines:single;
	-moz-box-lines:single;
	box-lines:single;
	-ms-flex-wrap:nowrap;
	flex-wrap:nowrap;
	-webkit-box-align:start;
	box-align:start;
	-moz-align-items:flex-start;
	-ms-align-items:flex-start;
	-o-align-items:flex-start;
	align-items:flex-start;
	-ms-flex-align:start;
}

@media only screen and (max-width:700px){
.flex{
	-webkit-box-orient:vertical;
	box-orient:vertical;
	-webkit-box-direction:normal;
	box-direction:normal;
	-moz-flex-direction:column;
	flex-direction:column;
	-ms-flex-direction:column;
	-webkit-box-align:center;
	box-align:center;
	-moz-align-items:center;
	-ms-align-items:center;
	-o-align-items:center;
	align-items:center;
	-ms-flex-align:center;
	}
}

.flex--left{
	-webkit-box-pack:start;
	box-pack:start;
	-moz-justify-content:flex-start;
	-ms-justify-content:flex-start;
	-o-justify-content:flex-start;
	justify-content:flex-start;
	-ms-flex-pack:start;
}

.flex--right{
	-webkit-box-pack:end;
	box-pack:end;
	-moz-justify-content:flex-end;
	-ms-justify-content:flex-end;
	-o-justify-content:flex-end;
	justify-content:flex-end;
	-ms-flex-pack:end;
}

.flex--center{
	-webkit-box-pack:center;
	box-pack:center;
	-moz-justify-content:center;
	-ms-justify-content:center;
	-o-justify-content:center;
	justify-content:center;
	-ms-flex-pack:center;
}

.flex--space{
	-webkit-box-pack:justify;
	box-pack:justify;
	-moz-justify-content:space-between;
	-ms-justify-content:space-between;
	-o-justify-content:space-between;
	justify-content:space-between;
	-ms-flex-pack:justify;
}

.flex--column{
	-webkit-box-orient:vertical;
	box-orient:vertical;
	-webkit-box-direction:normal;
	box-direction:normal;
	-moz-flex-direction:column;
	flex-direction:column;
	-ms-flex-direction:column;
}

.flex--column_center{
	-webkit-box-align:center;
	box-align:center;
	-moz-align-items:center;
	-ms-align-items:center;
	-o-align-items:center;
	align-items:center;
	-ms-flex-align:center;
}

.padded{
	padding:3em;
	padding:var(--padding);
}

.padded--half{
	padding:calc(3em * .5);
	padding:calc(var(--padding) * .5);
}

.padded--threequarter{
	padding:calc(3em * .75);
	padding:calc(var(--padding) * .75);
}

*{
	text-rendering:optimizeLegibility;
	-webkit-font-feature-settings:"kern";
	font-feature-settings:"kern" 1;
	-webkit-font-kerning:normal;
	font-kerning:normal;
}

h1,h2{
	font-family:sans-serif;
	font-weight:700;
}

h1{
	font-size:2.625em;
	line-height:1.14286;
	letter-spacing:0;
	margin-bottom:.15em;
}

h2{
	font-size:2em;
	line-height:1.1875;
	letter-spacing:0;
	margin-bottom:.35em;
}

.highlight{
	width:104%;
	margin-left:-2%;
	padding:.35em .5em .45em;
	color:#000;
	background:#ff6;
}

p{
	font-family:sans-serif;
	font-size:1.375em;
	line-height:1.45455;
	letter-spacing:0;
	margin-bottom:1.5em;
}

p strong{
	font-weight:700;
}

.container__overlay__text li{
	font-family:sans-serif;
	font-size:1.25em;
	line-height:1.4;
	letter-spacing:0;
	margin-left:1.25em;
	margin-bottom:.25em;
	padding-left:.5em;
}

.container__overlay__text li:last-child{
	margin-bottom:0;
}

.container__overlay__text ul{
	list-style-type:disc;
	margin-bottom:.5em;
}

.container__overlay__text ol{
	list-style-type:decimal;
	margin-bottom:.5em;
}

label,td>span{
	font-family:sans-serif;
	font-size:1.25em;
	line-height:1.2;
	letter-spacing:0;
	margin-bottom:.5em;
}

label strong,td>span strong{
	font-weight:700;
}

label.field,td>span.field{
	display:block;
	font-weight:700;
}

td>span{
	display:inline-block;
	margin-right:.25em;
}

#required_note>span{
	display:inline-block;
	margin-bottom:0;
}

input.text,select,textarea{
	font-family:sans-serif;
	font-size:1.375em;
	line-height:1.18182;
	letter-spacing:0;
}

input.submit{
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	font-family:sans-serif;
	font-weight:700;
	font-size:1.25em;
	line-height:1;
	letter-spacing:0;
	color:#fff;
}

span.required{
	color:red;
}

label>span.required{
	margin-left:.35em;
}

.footer__links li a{
	font-family:sans-serif;
	font-size:.875em;
	line-height:1.28571;
	letter-spacing:0;
	text-decoration:none;
	color: #70CEEA;
}

.footer__links li a:active,.footer__links li a:hover{
	color:#fff;
}

.footer__message{
	font-family:sans-serif;
	font-size:.75em;
	line-height:1.33333;
	letter-spacing:0;
	text-align:center;
}

.title-template{
	display:block;
	padding:25px;
	background:rgba(0,0,0,.75);
	color:rgba(255,255,255,.25);
	font-family:sans-serif;
	font-size:.75em;
	text-transform:uppercase;
	letter-spacing:.25em;
}

img{
	display:block;
	width:100%;
	height:auto;
	margin:0;
	padding:0;
	shape-rendering:crispEdges;
}

.campaign__logo{
	width:10em;
	margin-bottom:var(--padding);
}

@media only screen and (max-width:700px){
.campaign__logo{
	-webkit-box-ordinal-group:1;
	box-ordinal-group:1;
	-moz-order:1;
	order:1;
	-ms-flex-order:1;
	}
}

.footer__links{
	padding-bottom:calc(var(--padding) * .5);
}

.footer__links li{
	padding:0 2em;
}

@media only screen and (max-width:700px){
.footer__links li{
	padding-bottom:1em;
}

.footer__links li:last-child{
	padding-bottom:0;
	}
}

@media only screen and (max-width:700px){
.footer__links{
	padding-bottom:calc(var(--padding) * .75);
	}
}

.footer__message{
	max-width:450px;
	padding:1em 1.5em;
	border:1px solid #70CEEA;
}

.container{
	min-height:100vh;
	background-color:rgba(0,0,0,.25);
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
}

.container.container--fixed{
background-attachment:fixed;
}

@media only screen and (max-width:700px){
.container.container--image{
	background-image:none !important;
	}
}

.container__overlay{
	min-height:100%;
	width:50%;
	background:#f9f9f9;
}

.container__overlay--wide .container__overlay{
	width:75%;
}

@media only screen and (max-width:700px){
.container__overlay--wide .container__overlay{
	width:100%;
	}
}

.container__overlay--columns .container__overlay{
	width:95%;
}

@media only screen and (max-width:700px){
.container__overlay--columns .container__overlay{
	width:100%;
	}
}

@media only screen and (max-width:1005px){
.container__overlay{
	width:60%;
	}
}

@media only screen and (max-width:700px){
.container__overlay{
	width:100%;
	-webkit-box-ordinal-group:2;
	box-ordinal-group:2;
	-moz-order:2;
	order:2;
	-ms-flex-order:2;
	}
}

.container__overlay.container__overlay--columns{
	display:-webkit-box;
	display:-moz-box;
	display:box;
	display:-moz-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:horizontal;
	box-orient:horizontal;
	-webkit-box-direction:normal;
	box-direction:normal;
	-moz-flex-direction:row;
	flex-direction:row;
	-ms-flex-direction:row;
	-webkit-box-lines:single;
	-moz-box-lines:single;
	box-lines:single;
	-ms-flex-wrap:nowrap;
	flex-wrap:nowrap;
	-webkit-box-align:start;
	box-align:start;
	-moz-align-items:flex-start;
	-ms-align-items:flex-start;
	-o-align-items:flex-start;
	align-items:flex-start;
	-ms-flex-align:start;
	-webkit-box-pack:justify;
	box-pack:justify;
	-moz-justify-content:space-between;
	-ms-justify-content:space-between;
	-o-justify-content:space-between;
	justify-content:space-between;
	-ms-flex-pack:justify;
	background:0 0;
}

.container__overlay.container__overlay--columns>div,.container__overlay.container__overlay--columns>form{
	-ms-flex-negative:0;
	flex-shrink:0;
	width:46%;
}

@media only screen and (max-width:700px){
.container__overlay.container__overlay--columns>div,.container__overlay.container__overlay--columns>form{
	width:100%;
	}
}

.container__overlay.container__overlay--columns>div{
	margin-right:8%;
}

.container__overlay.container__overlay--columns>div>:last-child{
	margin-bottom:0;
}

@media only screen and (max-width:700px){
.container__overlay.container__overlay--columns>div{
	margin-right:0;
	margin-bottom:calc(var(--padding) * 2);
	}
}

@media only screen and (max-width:700px){
.container__overlay.container__overlay--columns{
	-webkit-box-orient:vertical;
	box-orient:vertical;
	-webkit-box-direction:normal;
	box-direction:normal;
	-moz-flex-direction:column;
	flex-direction:column;
	-ms-flex-direction:column;
	}
}

button,input,select,textarea{
	-moz-appearance:none;
	-webkit-appearance:none;
	appearance:none;
	border:0;
	outline:0;
	border-radius:0;
	-webkit-box-shadow:0;
	box-shadow:0;
	background:0 0;
}

table,tbody,td,tr{
	display:block;
	width:100%;
}

input.text,select,textarea{
	display:block;
	min-width:100%;
	width:100%;
	padding:.75em;
	border:1px solid rgba(235,28,46,0.2);
	background:#fff;
	resize:none;
	-webkit-transition:.15s;
	transition:.15s;
}

input.text:hover,select:hover,textarea:hover{
	border:1px solid rgba(0,0,255,.5)
}

input.text:active,input.text:focus,select:active,select:focus,textarea:active,textarea:focus{
	border:1px solid #00f;
}

input.text{
	margin-bottom:1em !important;
}

select{
	margin-bottom:1em !important;
	cursor:pointer;
}

textarea{
	height:8em;
}

input.checkbox,input.radiobutton{
	display:inline-block;
	position:relative;
	overflow:hidden;
	min-width:20px;
	min-height:20px;
	width:20px;
	height:20px;
	margin-bottom:1.25em!important;
	margin-right:1.5em!important;
	vertical-align:middle !important;
	color:transparent;
	background:#fff;
	border-width:1px;
	border-style:solid;
	border-color:#00f;
	cursor:pointer;
}

input.checkbox::-ms-check,input.radiobutton::-ms-check{
	display:inline-block;
	position:relative;
	min-width:18px;
	min-height:18px;
	width:18px;
	height:18px;
	line-height:18px;
	margin-bottom:0!important;
	margin-right:1.5em!important;
	vertical-align:middle !important;
	color:transparent;
	background:#fff;
	border-width:1px;
	border-style:solid;
	border-color:#00f;
	cursor:pointer;
}

#signup .checkbox,#signup .radiobutton{
	margin:0 1.5em 1.25em 0!important;
	vertical-align:middle !important;
}

input.radiobutton{
	border-radius:100%;
}

input.radiobutton:before{
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	width:12px;
	height:12px;
	background:#00f;
	border-radius:100%;
	-webkit-transform:translate3d(-50%,-50%,0) scale(2);
	transform:translate3d(-50%,-50%,0) scale(2);
	opacity:0;
	content:'';
}

input.radiobutton:checked:before{
	-webkit-transform:translate3d(-50%,-50%,0) scale(1);
	transform:translate3d(-50%,-50%,0) scale(1);
	opacity:1;
}

input.radiobutton:checked::-ms-check{
	background:#00f;
}

input.checkbox:before{
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	width:12px;
	height:8px;
	border-left:4px solid #00f;
	border-bottom:4px solid #00f;
	-webkit-transform:translate3d(-50%,-60%,0) rotate(-50deg) scale(2);
	transform:translate3d(-50%,-60%,0) rotate(-50deg) scale(2);
	opacity:0;
	content:'';
}

input.checkbox:checked:before{
	-webkit-transform:translate3d(-50%,-60%,0) rotate(-50deg) scale(1);
	transform:translate3d(-50%,-60%,0) rotate(-50deg) scale(1);
	opacity:1;
}

input.checkbox:checked::-ms-check{
	background:#00f;
}

input.checkbox+label,input.radiobutton+label{
	cursor:pointer;
}

.select__container{
	position:relative;
	width:100%
}

.select__container:after{
	position:absolute;
	right:1.25em;
	top:37.5%;
	width:0;
	height:0;
	border-style:solid;
	border-width:12px 9px 0 9px;
	border-color:#e84c3c transparent transparent transparent;
	opacity:.2;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	pointer-events:none;
	content:''
}

.select__container:active:after,.select__container:hover:after{
	opacity:1
}

div.input{
	display:-webkit-box;
	display:-moz-box;
	display:box;
	display:-moz-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:horizontal;
	box-orient:horizontal;
	-webkit-box-direction:normal;
	box-direction:normal;
	-moz-flex-direction:row;
	flex-direction:row;
	-ms-flex-direction:row;
	-webkit-box-lines:multiple;
	-moz-box-lines:multiple;
	box-lines:multiple;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	-webkit-box-pack:start;
	box-pack:start;
	-moz-justify-content:flex-start;
	-ms-justify-content:flex-start;
	-o-justify-content:flex-start;
	justify-content:flex-start;
	-ms-flex-pack:start;
	-webkit-box-align:start;
	box-align:start;
	-moz-align-items:flex-start;
	-ms-align-items:flex-start;
	-o-align-items:flex-start;
	align-items:flex-start;
	-ms-flex-align:start;
	padding-bottom:1em;
}

div.input>.checkbox,div.input>.radiobutton{
	-ms-flex-negative:0;
	flex-shrink:0;
}

div.input>.checkbox+label,div.input>.radiobutton+label{
	-webkit-box-flex:1;
	-ms-flex-positive:1;
	flex-grow:1;
	-ms-flex-preferred-size:calc(100% - 20px - 1.5em);
	flex-basis:calc(100% - 20px - 1.5em);
}

label>br{
	display:none !important;
}

input.submit{
	display:block;
	position:relative;
	width:100%;
	text-align:center;
	text-transform:uppercase;
	padding:1.5em 1em;
	margin-top:1.25em;
	margin-bottom:.75em;
	background-size:1px 200%;
	background-position:0 0;
	background-repeat:repeat-x;
	cursor:pointer;
	-webkit-transition:.15s;
	transition:.15s;
}

input.submit:active,input.submit:hover{
	background-position:0 100%;
}

.container__overlay{
	-webkit-transform:translate3d(0,2em,0);
	transform:translate3d(0,2em,0);
	opacity:0;
	-webkit-transition:opacity .75s,-webkit-transform .75s;
	transition:opacity .75s,-webkit-transform .75s;
	transition:transform .75s,opacity .75s;
	transition:transform .75s,opacity .75s,-webkit-transform .75s;
	-webkit-transition-delay:.25s;
	transition-delay:.25s;
}

.loaded .container__overlay{
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	opacity:1;
}

.container__overlay__text,form{
	-webkit-transform:translate3d(0,1.5em,0);
	transform:translate3d(0,1.5em,0);
	opacity:0;
	-webkit-transition:opacity .75s,-webkit-transform .75s;
	transition:opacity .75s,-webkit-transform .75s;
	transition:transform .75s,opacity .75s;
	transition:transform .75s,opacity .75s,-webkit-transform .75s;
	-webkit-transition-delay:.75s;
	transition-delay:.75s;
}

.loaded .container__overlay__text,.loaded form{
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	opacity:1;
}

form{
	-webkit-transition-delay:1.15s;
	transition-delay:1.15s;
}

input.checkbox:before,input.radiobutton:before{
	-webkit-transition:.25s;
	transition:.25s;
}
